.wrapper {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.desktop {
   width: 100%;
   height: 100%;
   background: center / cover no-repeat url('./wallpaper.jpg');
   display: flex;
   flex-direction: row;
}
