.appHeader {
   min-width: 250px;
   width: fit-content;
   min-height: 300px;
   border: 2px solid #000;
   border-radius: 12px;
   position: absolute;
   top: 50px;
   left: 50px;
   background-color: #2a2a2a;
   display: flex;
   flex-direction: column;

   &._resized {
      cursor: col-resize;
   }

   &._focused {
      background-color: #1f1f1f;

      .title {
         color: #eeeeee;
      }

      .button {
         background-color: #373737;

         &:hover {
            background-color: #444;

            .icon {
               fill: #dddddd;
            }
         }
      }
   }
}

.header {
   border-bottom: 2px solid #000;
   padding: 4px;
   display: flex;
   align-items: center;
}

.title {
   width: 100%;
   display: block;
   text-align: center;
   color: #8c8c8c;
   cursor: move;
}

.buttonList {
   display: flex;
   align-items: center;
   gap: 12px;
}

.button {
   width: 1.5rem;
   height: 1.5rem;
   border: 1px solid transparent;
   border-radius: 48px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;

   &:hover {
      background-color: #4e4e4e;

      .icon {
         fill: #b6b6b6;
      }
   }
}

.icon {
   width: 16px;
   height: 16px;
   fill: #a2a2a2;
}
