.appHeader {
   width: fit-content;
   position: absolute;
   top: 50px;
   left: 50px;
   border: 2px solid white;
   display: flex;
   flex-direction: column;

   &._resized {
      cursor: col-resize;
   }

   .header {
      display: flex;
   }

   &._focused {
      border-color: aquamarine;
   }

   .title {
      width: 100%;
      display: block;
      text-align: center;
      background-color: black;
      color: white;
      cursor: move;
   }

   .button {
      background-color: black;
      border: 1px solid black;
      cursor: pointer;

      &:hover {
         background-color: white;
         border-color: white;

         .icon {
            fill: black;
         }
      }
   }

   .icon {
      width: 16px;
      height: 16px;
      fill: white;
   }
}
