.appHeader {
   width: fit-content;
   position: absolute;
   top: 50px;
   left: 50px;
   border: 10px solid white;

   &._clicked {
      border-color: aqua;
   }

   &._hovered {
      border-color: yellow;
   }

   &._resized {
      border-color: greenyellow;
   }

   .title {
      width: 100%;
      display: block;
      text-align: center;
      background-color: black;
      color: white;
      cursor: move;
   }
}
